.manualoverridemenu {
  height: auto !important;
}

.manualoverridemenu .part {
  border: 2px black solid;
  margin: 0 5px;
  padding: 5px;
}

.manualoverridemenu .newcategory {
  flex: 1
}

.manualoverridemenu .newitem {
  flex: 2
}

.manualoverridemenu .part .title {
  font-size: large;
}

.manualoverridemenu .part ol {
  padding: 0;
  margin: 0;
}

.manualoverridemenu .part ol li {
  padding: 1px 0;
  border-bottom: 1px black solid;
}

.manualoverridemenu .part ol li.hide {
  display: none;
}

.manualoverridemenu .part ol li span {
  font-size: 10px;
}

.manualoverridemenu .part ol li .columnTitle {
  flex: 0 0 100px;
  padding: 1px 3px;
  margin-right: 1px;
}

.manualoverridemenu .part ol li .columnEnabled {
  flex: 0 0 20px;
}

.manualoverridemenu .part ol li .columnDelete {
  flex: 0 0 10px;
  padding-top: 4px;
}

.manualoverridemenu .part ol li input[type="text"] {
  flex: 0 0 100px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  margin-right: 1px;
}

.manualoverridemenu .part ol li .largeSelect {
  flex: 0 0 140px;
  max-width: 140px;
  width: 140px;
}
.manualoverridemenu .part ol li select {
  flex: 0 0 100px;
  max-width: 100px;
  width: 100px;
  padding: 1px 3px;
  margin: 0 1px;
}

.manualoverridemenu .part .add-button {
  justify-content: end;
}

.manualoverridemenu .submit-footer {
  padding-top: 10px;
  justify-content: center;
}

.manualoverridemenu .submit-footer .submit-button {
  flex: 0 0 200px;
}